.figure-caption.custom {
  color: whitesmoke;
}

@media screen and (orientation: landscape) {
  .figure-caption.custom {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    bottom: 5px;
    left: 15px;
    width: calc(100% - 30px);
    padding: 10px;
    color: whitesmoke;
    font-size: 0.8rem;
  }
}
