.Caption {
  /* No styles for now */
}

.figure-caption-custom {
  position: absolute;
  top: 88%;
  left: 3%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: whitesmoke;
}

.image-caption {
  display: inline-block;
}
