.Navigation {
  text-align: center;
  cursor: pointer;
}

.chevron-overlay {
  position: absolute;
  top: 40%;
  text-shadow: 2px 2px #0e0e0e;
  z-index: 2;
}

.chevron-overlay-left {
  left: 15px;
}

.chevron-overlay-right {
  right: 15px;
}

@media screen and (orientation: landscape) {
  .chevron-overlay {
    top: 50%;
  }
}
