.PhotoGallery {
  color: whitesmoke;
  background: #0e0e0e;
}

.row.counter {
  min-height: 10rem;
}

.row.photo {
  min-height: calc(100vh - 10rem);
}

@media screen and (orientation: landscape) {
  .row.counter {
    min-height: 2rem;
  }

  .row.photo {
    min-height: calc(100vh - 2rem);
  }
}
